<mat-card>
    <mat-card-title>Contact Info</mat-card-title>
    <mat-card-content>
      <p><span class='content'> Ankit Kumar (snocoder)</span></p>
      <p><span class='content'> snocoder@gmail.com</span></p>
      <p><span class='content'> <a href='https://linkedin.com/in/ankit-kumar-23-06/'>https://linkedin.com/in/ankit-kumar-23-06/</a></span></p>
      <p><span class='content'> <a href= 'https://github.com/ankitkumarOO7'>https://github.com/ankitkumarOO7</a></span></p>
      <p><span class='content'> 8778665280(c) | 7530003398(w)</span></p>
    </mat-card-content>
</mat-card>
